
:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  ::ng-deep {
    .p-card-footer {
      display: flex;
      gap: 16px;
    }
  }
}

p-card {
  border-radius: 20px;
  overflow: hidden;
  max-width: 360px;
}

// TODO: puntos de breakpoint deben ser variables
@media only screen and (max-width: 768px) {
  p-card {
    margin: 48px;
    transform: scale(.9);
  }

  :host ::ng-deep {

    .p-card-footer {
      flex-direction: column;
      gap: 8px;
      align-items: stretch;

      button {
        margin: 0px !important;
        width: 100%;
      }
    }
    
  }
}