:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: unset;
}

p-toolbar {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9999999999999999999999999999999999999;

  ::ng-deep.p-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 13px 64px;
    border-bottom: 5px solid #00f68230;
    border-radius: 0 0 24px 24px;
  }
}

.banner {
  max-height: 136px;
  min-width: 100%;
  object-fit: cover;
}

main {
  padding: 0 36px 36px 36px;
}

app-logo {
  cursor: pointer;
  transition: all .2s ease-in-out;
  
  &:hover {
    transform: scale(1.1);
  }
}

// TODO: puntos de breakpoint deben ser variables
@media only screen and (max-width: 768px) {
  p-toolbar ::ng-deep.p-toolbar {
    padding: 8px !important;
    justify-content: center !important;
  }
}