<p-toolbar>
  <div class="p-toolbar-group-left">
    <h2>SM Marketplace</h2>
  </div>
  
  <div class="p-toolbar-group-right">
    <a pButton routerLink="home" label="Shop" class="p-button-link" icon="pi pi-shopping-cart" ></a>
    <a pButton routerLink="create" label="Crear" class="p-button-link" icon="pi pi-plus"></a>
    <p-button icon="pi pi-sign-out" class="p-button-danger ms-4"></p-button>
  </div>
</p-toolbar>

<img class="banner" src="https://www.cybavo.com/img/cms/nfts-banner.png" alt="">

<main>
  <router-outlet></router-outlet>
</main>