<p-toolbar>
  <div class="p-toolbar-group-left">
    <app-logo (click)="goHome()"></app-logo>
  </div>
  
  <div class="p-toolbar-group-right">
    <a pButton routerLink="home" label="Shop" class="p-button-link" icon="pi pi-shopping-cart"
    [class.p-button-sm]="['xs'] | breakpoint | async"
    ></a>
    <a pButton routerLink="create" label="Crear" class="p-button-link" icon="pi pi-plus"
    [class.p-button-sm]="['xs'] | breakpoint | async"
    ></a>
    <a pButton type="button" icon="pi pi-sign-out" class="p-button-text p-button-rounded p-button-danger ms-4"
    [class.p-button-sm]="['xs'] | breakpoint | async"
    href="https://metamask.zendesk.com/hc/en-us/articles/360059535551-Disconnect-wallet-from-a-dapp"
    target="_blank"
    ></a>
  </div>
</p-toolbar>


<!-- <img class="banner" src="https://www.cybavo.com/img/cms/nfts-banner.png" alt=""> -->

<main class="container mt-5">
  <router-outlet></router-outlet>
</main>

<p style="position: fixed; bottom: 0; left: 0;" *ngIf="env.ENV!='PROD'">
  Stage: {{env.ENV}}
</p>