
<h3>Marketplace</h3>

<div *ngIf="itemsToSell$ | async as items" class="wrapper mt-4">

  <app-market-item *ngFor="let item of items" class="animate__animated animate__fadeInDown"
  [item]="item"
  ></app-market-item>

</div>

<!-- <app-market-item></app-market-item> -->

<!-- <div *ngFor="let item of itemsToSell$ | async">
  <img appImageLoader [src]="item.uri | ipfsURI" alt="" srcset="">
</div> -->
<!-- <img appImageLoader src="https://ipfs.io/ipfs/QmW7L4Yaq5No6dQX2t57a1Wuo49LarV3bn3wYjnDaT67Lk" alt="" srcset=""> -->

<!-- <pre>

commission: 
{{commission$ | async}}

items to sell:
{{itemsToSell$ | async | json}}

</pre> -->