:host {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 56px;
}