<p-card [header]="_item.metadata.name || 'Desconocido'" [subheader]="(_item.price | weiToEth) + ' ETH'"
  styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img appImageLoader alt="Card" [src]="_item.uri | ipfsURI">
  </ng-template>
  {{ _item.metadata.description || 'Descripcion no encontrada' }}
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" 
    icon="pi pi-eye" 
    class="p-button-rounded p-button-text"
    (click)="handleDetails()"
    ></button>
    <button pButton 
    *ngIf="!_item.sold"
    class="p-button-outlined p-button-success" 
    label="Comprar" 
    icon="pi pi-check"
    (click)="handleBuy()"
    ></button>
    <button pButton 
    *ngIf="_item.sold"
    class="p-button-outlined p-button-info"
    disabled
    label="Comprado"
    icon="pi pi-check"
    ></button>
  </ng-template>
</p-card>